.cache
.DS_Store
.idea
*.log
*.tgz
coverage
dist
lib-cov
logs
node_modules
temp
cache
.eslintcache

.nuxt
.output
dist-dev
.artifacts
test-results
playwright-report

.build
artifacts

# TypeScript incremental build cache
*.tsbuildinfo
